ul {
	list-style-type: none;
	text-indent: -40px;
}

a {
	text-decoration: none;
}

.leftside h3 {
	color: #74BCFF;
	font-weight: bold;
	text-align: left;
}

.leftside ul {
	text-align: left;
}

.rightside h3 {
	color: #E85678;
	font-weight: bold;
	text-align: center;
}

.rightside h4 {
	text-align: center;
}

section.leftside {
	width: 20%;
	float: left;
}

section.rightside {
	display: inline;
	width: 80%;
	float: left;
}