#form-wrap {
	width: 100%;
	text-align: center;
	min-width: 280px;
	background-color: #ebe6e0;
/*	padding-top: 1%;
	padding-bottom: 1%;*/
}
form {
	margin-bottom: 20px;

}

label {
	display: block;
}

input {
	width: 80%;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background-color: #ebe6e0;
	border-style: none;
	border-bottom-style: solid;
	border-top-style: solid;
	margin-top: 12px;
	margin-bottom: 12px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #B7B4BF;
}

::-webkit-input-placeholder { color: black; }

textarea {
	width: 80%;
	height: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	background-color: #ebe6e0;
	border-style: none;
	border-bottom-style: solid;
	border-top-style: solid;
	margin-top: 12px;
	margin-bottom: 12px;
	border-color: #B7B4BF;
}

fieldset {
	border: none;
}

.btn {
cursor: pointer;
background-color: #ebe6e0;
color: black;
border-style: none;
height: 3em;
}

.btn:hover {cursor: pointer; color:white; background-color: black;}

