/** {border: 1px solid orange} 
*/
body {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-align: middle;
	color: white;
	background: black !important;
}

div {
	display: block;
	font-family:  sans-serif;
	text-align: center;
	color: white;
}

body.black {
	color: black;
}

div.name {
	height: 50%;
}

.center {
	vertical-align: center;
}

.body-text {
	color: black;
	text-align: center;
}

.topmargin {
	margin-top: 1em;
}

div.bigtext {
	font-family: Arvo, serif;
	font-size: 4em;
	text-align: left;
	margin-top: 30px;
	margin-left: 30px;
}

div.nav {
	height: 2em;
}

div.nav a {
	font-size: .8em;
	vertical-align: middle;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	text-decoration: none;
	list-style-type: none;
}

h2 {
	color: white;
	font-weight: bold;
}

div.logo {
	position: absolute;
	padding: 0;
	top: 40%;
	bottom: 40%;
	left: 20%;
	right: 20%;
}

/*Sets the logo.*/
div.logo a {
	display: block;
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	color: white;
	padding-top: 75px;
}

/*Sets the hover for the logo.*/
div.logo a:hover { color:#E8A06E; }
