/** {border: 1px solid orange} 
*/
body {
	display: block;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: white;
	background: black !important;
}

.center {
	vertical-align: center;
}

.body-text {
	margin: 40px 0px 40px 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;
	color: white;
	text-align: center;
}

.body-text h1 {
	color: #A8A8FF;
}

.body-text a {
	color: #EABBFF;
}

.body-text a:hover {
	color: #BBD5FF;
	text-decoration: none;
	list-style-type: none;
}

.topmargin {
	margin-top: 1em;
}

div.nav {
	margin-top: 20px;
	font-family: 'Oswald', sans-serif; 
	height: 2em;
}

div.nav button {
	font-size: 1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
	color: white;
}

.nav button:hover {
	font-weight: bolder;
}

h2 {
	color: white;
	font-weight: bold;
}

div.logo {
	margin: 100px 0px 40px 0px;
}

/*Sets the logo.*/
div.logo a {
	font-size: 5em;
	text-decoration: none;
	list-style-type: none;
	font-weight: bold;
	color: white;
	padding-top: 75px;
}

div.footer {
	color: white;
	text-align: right;
	margin-top: 40px;
	font-family: 'Oswald', sans-serif; 
}

div.footer > img {
	display: inline;
}

/*Sets the hover for the logo.*/
div.logo a:hover { color:#E8A06E; }

@media screen and (orientation: portrait) {
  img.filler { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.filler { max-height: 90%; }
}
